<!DOCTYPE html>

<html>
  <head>
    <title>Porducts information</title>
  </head>
  <body>
    <h1>Products</h1>
    <div>
      <% if (products.length) { %>
      <div>
        <% products.forEach(function (product) { %>
        
        <img src=<%=product.images%>/>
        <h3>Name: <%= product.name %></h3>
        <h3>Price: <%= product.price %></h3>
        <h3>Category: <%= product.category %></h3>
        <h3>Amount: <%= product.amount %></h3>
        <h3>Price: <%= product.price %>$</h3>
        <p><%= product.description %></p>
        <% }) %>
      </div>
      <% } %>
    </div>
  </body>
</html>
